<header>
  <div class="menu_bar">
    <a href="#" class="bt-menu">
      <span class="icon-list2"></span>Menu</a>
  </div>
  <nav class="barra-navegacion">
    <ul>
      <li>
        <a [routerLink]="['/']">Inicio</a>
      </li>
      <li>
        <a [routerLink]="['/lecturas']">Lecturas</a>
      </li>
      <li>
        <a [routerLink]="['/multimedia']">Multimedia</a>
      </li>
      <li>
        <a [routerLink]="['/actividades']">Actividades</a>
      </li>
      <li>
        <a [routerLink]="['/autores']">Autores</a>
      </li>
    </ul>
  </nav>
</header>