<div class="contenedor-mitad">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel augue sed nunc congue egestas. Vestibulum aliquam egestas
        massa, nec imperdiet diam mollis sed. Integer condimentum eu ex eget aliquet. Aliquam odio mi, convallis ultrices
        ipsum vel, sodales fermentum elit. Morbi tempor cursus orci, id imperdiet sapien. Etiam non interdum eros. Nullam
        at nisi quis dui eleifend pulvinar. Proin tincidunt nibh at dolor lobortis, at malesuada augue consequat. Maecenas
        vitae dolor vulputate, pretium lorem nec, pretium nibh. Suspendisse potenti. Sed eu convallis quam, dapibus vehicula
        orci. Praesent lorem elit, venenatis sed tellus ut, finibus ultrices enim. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
        ac turpis egestas. Curabitur iaculis mauris quis libero vulputate lacinia. Nulla aliquam lobortis egestas. Phasellus
        et dapibus dui. Quisque luctus dignissim augue eget mattis. Nulla posuere odio magna, sed scelerisque lorem rutrum
        vitae. Donec nec mattis metus. Sed mauris quam, ullamcorper a gravida eu, tempus nec ipsum. Morbi accumsan velit
        vel lacus mollis pretium sit amet sed turpis. Vestibulum faucibus mi semper, tempor lorem nec, ullamcorper lectus.
        Praesent dignissim mauris sed maximus venenatis. Nullam vel condimentum lectus, non commodo ex. Integer ut consectetur
        turpis, sed viverra arcu. Nam sollicitudin quam in volutpat aliquet. Ut mattis augue nibh, at commodo elit mollis
        ut. Aenean faucibus lectus nec libero accumsan eleifend. Quisque cursus porttitor ullamcorper. Mauris imperdiet commodo
        viverra. Pellentesque neque justo, eleifend sit amet lacus sed, efficitur facilisis ex. Donec dignissim arcu vitae
        pretium finibus. Aenean non sem sed risus fringilla tempor. Mauris fermentum, ante ut fringilla imperdiet, arcu odio
        cursus ante, sit amet varius arcu odio id mauris. Praesent et commodo justo. Aenean posuere velit sit amet elit vehicula
        pulvinar. Nunc ut lorem eget sem consequat vehicula nec vestibulum tortor. Phasellus pulvinar enim lorem. Suspendisse
        et urna congue diam lacinia congue. Nulla fringilla sodales mi at euismod. Pellentesque sollicitudin suscipit tortor,
        ac pellentesque massa auctor a. Suspendisse eu nisl metus. Phasellus sagittis vulputate lorem, luctus porttitor nisi
        viverra ac. Pellentesque at volutpat orci. Suspendisse sed laoreet odio. Quisque a felis justo. Aliquam accumsan,
        purus ac mattis consequat, nulla risus vestibulum dui, maximus faucibus diam elit sed orci. Ut congue purus nec sapien
        blandit maximus. Integer vehicula eros eu sapien egestas rutrum. Maecenas dui diam, pharetra quis congue non, gravida
        at nisl. Mauris maximus lorem blandit felis consequat, nec rutrum tortor tincidunt. Nullam ornare eu elit sit amet
        lacinia. Donec aliquet est at enim aliquet porttitor. Integer quis facilisis felis. Mauris sollicitudin egestas nulla
        sed efficitur. Sed scelerisque libero nisi, nec posuere erat varius a. Sed diam sapien, lobortis eu dignissim placerat,
        tempus non tortor.
    </p>
</div>
<div class="contenedor-mitad">
    <a class="twitter-timeline" data-lang="es" data-height="600" data-theme="dark" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw">Últimas noticias UNAD</a>
</div>