<div class="contenedor-mitad izquierda">
        <a class="twitter-timeline" data-lang="es" data-width="220" data-height="350" data-theme="dark" href="https://twitter.com/UniversidadUNAD?ref_src=twsrc%5Etfw">Tweets by UniversidadUNAD</a><br>
        <a href="https://www.contadorvisitasgratis.com" title="contadores de visitas"><img src="https://counter8.freecounter.ovh/private/contadorvisitasgratis.php?c=4ggm2j8t35ul61mb3urky7qckcj9b76d" border="0" title="contadores de visitas" alt="contadores de visitas"></a><br>        
</div>

<div class="contenedor-mitad derecha">
    <div class="card">
        <div class="container">
            <div *ngFor="let info of Pagina | async">
                <h1 style="font-size: 25px;">{{info.titulo}}</h1>
                <hr><br><br>
                <div [innerHtml]="info.contenido | keepHtml"></div>
            </div>
            <div *ngIf="!Pagina">
                <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>