$color-exteriores:  #005883;
$amarillo:  #F0B429;
$naranja:  #F47920;
$gris-oscuro: #333333;
$gris-intermedio: #B3B3B3;
$gris-claro: #808080;
$color-fondo: #FFFFFA;
$color-exteriores-contraste: $gris-oscuro;
$tamano-letra: 18px;

@mixin sombreado(){
    margin-top: -20px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
}