$color-exteriores:  #005883;
$amarillo:  #F0B429;
$naranja:  #F47920;
$gris-oscuro: #333333;
$gris-intermedio: #B3B3B3;
$gris-claro: #808080;
$color-fondo: #FFFFFA;
$color-exteriores-contraste: $gris-oscuro;
$tamano-letra: 18px;