/* You can add global styles to this file, and also import other style files */
@font-face {    
    font-family: 'Agnasa New';    
    src: url('assets/fonts/angsa.ttf') format(‘truetype’);    
}

@import "variables";

* {
	margin:0;
    padding:0;
    font-size: $tamano-letra;
}
 
body {
    background-color: $color-fondo;
}
 
header {
    width:100%;
    background-color: $color-exteriores;
    @include sombreado();

    nav {
        width:90%;
        max-width:1000px;
        margin:20px auto;
        background-color: $color-exteriores;

        ul {
            overflow:hidden;
            list-style:none;

            li {
                float:left;
                a {
                    color:#fff;
                    padding:20px;
                    display:block;
                    text-decoration:none;
                }

                a:hover {
                    background:$color-exteriores-contraste;
                }

                span {
                    margin-right:10px;
                }
            }
        }
    }
}

.menu_bar {
	display:none;
}

section {
    padding:20px;
    margin-bottom: 100px;
}

.contenedor-full{
    width: 95%;
}

.contenedor-mitad{
    width: 48%;
    display: inline-block;
    vertical-align: top;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-exteriores-contraste;
    color: white;
    text-align: center;
    @include sombreado();
}
 
@media screen and (max-width:800px ) {
	header{ 
        margin-top: 0px;
        nav {
            width:80%;
            height:100%;
            left:-100%;
            margin:0;
            position: fixed;
            background-color:$color-exteriores;

            ul{
                li {
                    display:block;
                    float:none;
                    border-bottom:1px solid rgba(255,255,255, .3);
                }
            }
        }
    } 

	.menu_bar {
		display:block;
		width:100%;
        background:#ccc;
        
        .bt-menu {
            display:block;
            padding:20px;
            background-color:$color-exteriores;
            color:#fff;
            text-decoration:none;
            font-weight: bold;
            font-size:25px;
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            box-sizing:border-box;
        }

        span {
            float:right;
            font-size:40px;
        }
	}
}